h1,
h2,
h3,
p{
    margin-top: 0;
    margin-bottom: 0;}
ul{
    list-style: none;margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img{
    display: block;
}
button{
    cursor: pointer;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Roboto', sans-serif;
    font-style: normal}
    .container-header{
        background: #FFFFFF;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);}

        .container-header{
    
            padding-top: 24px;
            padding-bottom: 24px;
            background: #FFFFFF;
            box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);}
        
        .container{
            padding-left: 15px;
            padding-right: 15px;
            width: 1158px;
            margin: 0 auto;}
        .container-header .container {display: flex; }
        
        
        .webstudio{
            font-family: 'Raleway', sans-serif;
            font-style: normal;
            font-weight: 800;
            font-size: 18px;
            line-height: 24px; display: flex;
            align-items: center;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #2E2F42;
            margin-right: 77px;}
            
        
        .nav-list{
            display: flex;
            gap: 40px;
           }
        
        .nav-item{
            display: block;}
        
        .social-links{
            display: flex;
            gap: 40px;
            
        }
        .social-item{
            display: block;
            
        }
        .studio{font-family: 'Roboto';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px; letter-spacing: 0.02em; 
            color: #2E2F42;
            flex: none;
            order: 0;
            flex-grow: 0;
        }
        .portfolio{
        
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 600;
            font-size: 16px; 
            line-height: 24px;
            letter-spacing: 0.02em;
            color: #2E2F42;}
        .contacts{  
            
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
            font-size: 16px; letter-spacing: 0.02em;
            color: #2E2F42;
        }
        .mail{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px; letter-spacing: 0.02em;
            color: #434455;
            padding-left: 295px;
            }
        .mail:hover{
            color: orange;
        }
        .mail:focus{
            color: red;
        }
        .tel{
           
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px; line-height: 24px;
            letter-spacing: 0.02em; color: #434455;}
        .tel:hover{
            color: orange;
        }
        .tel:focus{
            color: red;
        }
.section-main{
    padding-top: 96px;
    padding-bottom: 120px;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    width: 1158px;
    margin: 0 auto;}
    
.button-list{
     margin-bottom: 72px;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
    box-sizing: border-box;
    display: flex; gap: 24px;
}
.button1{font-family: 'Roboto', sans-serif;
    text-align:center;
    font-style: normal;
padding-top: 12px;
padding-bottom: 12px;
padding-left: 24px;
padding-right: 24px;
    color: #FFFFFF;
    background: #4D5AE5;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
margin-left: 271px;
}
.button2{
    font-family: 'Roboto', sans-serif;
    text-align:center;
    font-style: normal;
padding-top: 12px;
padding-bottom: 12px;
padding-left: 24px;
padding-right: 24px;
    color: #4D5AE5;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
}
.title{   
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        
        /* identical to box height, or 120% */
        
        letter-spacing: 0.02em;
        
        /* NAVY BLUE */
        
        color: #2E2F42;
        
        
        /* Inside auto layout */
        
        flex: none;
        order: 0;
        flex-grow: 0;}
.text{  
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */
        
        letter-spacing: 0.02em;
        
        /* SLATE */
        
        
        color: #434455;}
.image-description{
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
}
.image{
    display: block;
    max-width: 100%;
    height: auto
}
.flex-container{
    
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    padding: 0;
    margin: 0;
}
.flex-element{
    box-sizing: border-box; background: #FFFFFF;
/* CLOUD */
flex-basis: calc((100% - 48px)/3);
border: 0.5px solid #F4F4FD;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
max-width: 100%;
height: auto;
}


.footer-container{ left: 0px;
    height: 310px;
    padding-left: 156px;
    padding-right: 156px;
background: #2E2F42;
}
.webstudio-footer{
    padding-top: 100px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px; display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;}

.text-footer{
width: 264px; 
margin-bottom: 100px; margin-top: 16px;
/* Body */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */

letter-spacing: 0.02em;

/* CORNFLOWER */

color: #E7E9FC;}